<form [formGroup]='albumForm' (ngSubmit)="albumForm.valid && create()" autocomplete="off">
    <h2 class="text-center text-primary">Create an album</h2>
    <app-text-input [formControl]='albumForm.controls["name"]' [label]='"Name"'></app-text-input>
    <app-text-input [formControl]='albumForm.controls["publishingYear"]' [label]='"Publishing Year"'></app-text-input>

    <div class="form-group text-center">
        <button [disabled]='!albumForm.valid' class="btn btn-success mr-2" type="submit">Create</button>
    </div>
</form>