<form [formGroup]='trackForm' (ngSubmit)="trackForm.valid && search()" autocomplete="off">
    <h2 class="text-center text-primary">Search a track by name, duration, performer, arranger or type</h2>
    <app-text-input [formControl]='trackForm.controls["name"]' [label]='"Name"'></app-text-input>
    <app-text-input [formControl]='trackForm.controls["performedBy"]' [label]='"Performed by"'></app-text-input>
    <app-text-input [formControl]='trackForm.controls["arrangedBy"]' [label]='"Arranged by"'></app-text-input>
    <app-text-input [formControl]='trackForm.controls["startDuration"]' [label]='"Start duration in seconds"'></app-text-input>
    <app-text-input [formControl]='trackForm.controls["endDuration"]' [label]='"End duration in seconds"'></app-text-input>
    <select id="type" class="form-control" [formControl]='trackForm.controls["type"]'>
        <option value="" disabled selected hidden>Choose the track type</option>
        <option *ngFor="let trackType of trackTypes" [value]="trackType">{{trackType}}
        </option>
    </select>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Search</button>
    </div>
</form>

<div *ngIf="tracks" class="row">
    <div *ngFor="let track of tracks" class="col-3">
        <app-track-card [track]="track"></app-track-card>
    </div>
</div>